# 문제 1.
1. x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱하여 저장한뒤 출력하세요

- myself

In [1]:
x = [3, 6, 9, 20, -7, 5]

In [2]:
for i in range(len(x)):
    x[i] = x[i] * 10

In [3]:
x

[30, 60, 90, 200, -70, 50]

- Teacher

In [17]:
x = [3, 6, 9, 20, -7, 5]

In [18]:
for i, v in enumerate(x):
    x[i] = x[i] * 10

In [19]:
x

[30, 60, 90, 200, -70, 50]

2. y = ["math":70, "science":80, "english":20] 의 값의 모든 요소에 10을 더하여 저장한 뒤 출력하세요

- myself

In [1]:
y = {"math":70, "science":80, "english":20}

In [9]:
for key, value in y.items():
    y[key] = y[key] + 10

In [10]:
y

{'math': 80, 'science': 90, 'english': 30}

- Teacher

In [ ]:
y = {"math":70, "science":80, "english":20}

In [20]:
for i in y:
    y[i] += 10

In [21]:
y

{'math': 90, 'science': 100, 'english': 40}

# 문제 2.
1. [3, 6, 9, 20, -7, 5] 리스르를 sort와 같은 함수를 사용하지말고 for문을 활용하여 오름차순으로 정렬해주세요.

- myself

In [12]:
val = [3, 6, 9, 20, -7, 5]

In [13]:
for i in range(len(val)):
    for j in range(i+1,len(val)):
        if val[i] > val[j]:
            temp = val[i]
            val[i] = val[j]
            val[j] = temp
        else:
            pass

In [14]:
val

[-7, 3, 5, 6, 9, 20]

- teacher

In [ ]:
val = [3, 6, 9, 20, -7, 5]

In [ ]:
for i in range(len(val)):
    for j in range(i+1,len(val)):
        if val[i] > val[j]:
            temp = val[i]
            val[i] = val[j]
            val[j] = temp
        else:
            pass

# 문제 3.
1. 1~100까지 숫자 중 3과 5의 공배수일 경우 "3과 5의 공배수"
2. 나머지 숫자 중 3의 배수일 경우 "3의 배수" 
3. 나머지 숫자 중 5의 배수일 경우 "5의 배수"
4. 모두 해당되지 않을 경우 그냥 숫자를 출력하세요

In [3]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0: 
        print("3의 배수")
    elif i % 5 == 0: 
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수