# * iterable object

In [3]:
for city in ["Seoul", "Busan", "Pohang"]:
    print(city, end="\t")

Seoul	Busan	Pohang

In [4]:
for language in ("Python", "C", "Java"):
    print(language, end="\t")

Python	C	Java

In [5]:
for char in "Python is easy":
    print(char, end=" ")

P y t h o n   i s   e a s y

In [6]:
# list of cities
cities = ["Seoul", "Busan", "jeju"]
cities

['Seoul', 'Busan', 'jeju']

In [8]:
memory_address_cities = iter(cities)
memory_address_cities

In [10]:
next(memory_address_cities)

'Seoul'

In [11]:
next(memory_address_cities)

'Busan'

In [12]:
next(memory_address_cities)

'jeju'

# * generator

In [13]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result

In [15]:
print(general_list(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [16]:
import sys
result = general_list(50)
sys.getsizeof(result)

472

In [24]:
def generator_list(value):
    result = []
    for i in range(value):
        yield i

In [25]:
for a in generator_list(50):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [26]:
result = generator_list(50)
sys.getsizeof(result)

112

In [31]:
sys.getsizeof(list(result))

472

# * generator comprehension

In [33]:
gen_ex = (n*n for n in range(500))
print(type(gen_ex))

<class 'generator'>

In [34]:
list(gen_ex)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001]

# * Keyword arguments

In [37]:
def print_somthing(my_name, your_name, third_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_somthing(third_name="abc", my_name="Sungchul", your_name="TEAMLAB")

Hello TEAMLAB, My name is Sungchul

In [38]:
print_somthing("abc","Sungchul", "TEAMLAB")

Hello Sungchul, My name is abc

# * default arguments

In [2]:
def print_somthing_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, my name is {1}".format(your_name, my_name))
    
print_somthing_2("Sungchul", "babo")
print_somthing_2("cjs")

Hello babo, my name is Sungchul
Hello TEAMLAB, my name is cjs

# * variable-length asteisk

In [3]:
def asterisk_test(a, b, *args):
    print(list(args))
    print(type(args))  # 튜플
    
asterisk_test(1, 2, 3, 4, 5)

[3, 4, 5]
<class 'tuple'>

In [4]:
def asterisk_test(a, b, *args):
    print(list(args))
    print(type(args))
    return a+b+sum(args)
    
asterisk_test(1, 2, 3, 4, 5)

[3, 4, 5]
<class 'tuple'>

15

In [6]:
def asterisk_test(*args):
    x, y, z = args
    return x, y, z
    
asterisk_test(1, 2, 3)

(1, 2, 3)

# * keyword variable-length

In [9]:
def kwords_test_1(**kwords):
    print(kwords)
    print(type(kwords))  #딕셔너리
    
kwords_test_1(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>

In [11]:
def kwords_test_3(one, two=3, *args, **kwords):  #할당 순서가 있음 (보통 키워트 아닌것 앞으로, 키워드는 뒤로 하는게 좋음)
    print(kwords)
    print(type(kwords))  #딕셔너리
    
kwords_test_3(10, 30, 3, 5, 6, 7, 8, first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>

In [12]:
def kwords_test_3(one, two=3, *args, **kwords):  
    print(kwords)
    print(type(kwords))  #딕셔너리
    
kwords_test_3(10, 30, 3, 5, 6, 7, 8, first=3, second=4, third=5, 10)  # 순서 틀리면 오류

SyntaxError: positional argument follows keyword argument (1178113489.py, line 5)

# * asterisk - unpacking a container

In [2]:
def asterisk_test(a, *args): #여러개의 가변인자 할당 가능
    print(a, *args)
    print(a, args)
    print(type(args))
    
test = (2, 3, 4, 5, 6)
asterisk_test(1, *test) #언패킹되어서 각각의 요수가 튜플로 들어람

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [14]:
print(["1", "2", "3", "4"])  #팩킹

['1', '2', '3', '4']

In [15]:
print(*["1", "2", "3", "4"])  #언팩킹

1 2 3 4

In [8]:
def asterisk_test(a, **kargs): 
    print(a, kargs)
    print(type(kargs))
    
asterisk_test(1, b2=2, c=3, d=4, e=5, f=6)

1 {'b2': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [9]:
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)

[1, 2] [3, 4] [5, 6]

In [11]:
data = ([1, 2], [3, 4], [5, 6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [14]:
def asterisk_test(a, b, c, d):
    print(a, b, c, d)
data = {"b":1, "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3

# * with zip

In [16]:
ex = ([1, 2], [3, 4], [5, 6], [1, 2], [3, 4], [5, 6])
ex

([1, 2], [3, 4], [5, 6], [1, 2], [3, 4], [5, 6])

In [18]:
for value in zip(ex):
    print(value)

([1, 2],)
([3, 4],)
([5, 6],)
([1, 2],)
([3, 4],)
([5, 6],)

In [19]:
# 언팩킹
for value in zip(*ex):
    print(value)

(1, 3, 5, 1, 3, 5)
(2, 4, 6, 2, 4, 6)

In [20]:
# 1) * 미사용 언팩킹 
ex = ([1, 2], [3, 4], [5, 6])
a, b, c = ex
for value in zip(a, b, c):
    print(value)

(1, 3, 5)
(2, 4, 6)

In [21]:
# 2) * t사용 언팩킹
ex = ([1, 2], [3, 4], [5, 6])
for value in zip(*ex):
    print(value)

(1, 3, 5)
(2, 4, 6)

In [15]:
for data in zip(*([1, 2], [3, 4], [5, 6])):
    print(data)

(1, 3, 5)
(2, 4, 6)

In [22]:
for data in zip(*ex):
    print(sum(data))

9
12